In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from pickle import load

In [2]:
house_data = pd.read_csv("../raw_data/7d3e3b8f5a29e01917c11417de021787b5dbf6be.csv")

In [3]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,HumidityExpectedLow,HumidityExpectedHigh,...,Remote_Sensor_7_Temperature,Remote_Sensor_7_Motion,Remote_Sensor_8_Temperature,Remote_Sensor_8_Motion,Remote_Sensor_9_Temperature,Remote_Sensor_9_Motion,Remote_Sensor_10_Temperature,Remote_Sensor_10_Motion,T_out,RH_out
0,2019-01-01 00:00:00,auto,NaN,Sleep,70.0,78.0,64.0,30.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,94.0
1,2019-01-01 00:05:00,auto,NaN,Sleep,70.0,78.0,64.0,30.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,94.0
2,2019-01-01 00:10:00,auto,NaN,Sleep,70.0,78.0,64.0,30.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,94.0
3,2019-01-01 00:15:00,auto,NaN,Sleep,69.0,78.0,64.0,30.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,94.0
4,2019-01-01 00:20:00,auto,NaN,Sleep,69.0,78.0,64.0,30.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,94.0

In [4]:
house_data.shape

(104832, 42)

In [5]:
house_data.isnull().sum()

DateTime                             0
HvacMode                          2745
Event                            85255
Schedule                          2745
T_ctrl                            2745
T_stp_cool                        5043
T_stp_heat                        2745
Humidity                          2745
HumidityExpectedLow               2745
HumidityExpectedHigh              2745
auxHeat1                          2715
auxHeat2                          2715
auxHeat3                          2715
compCool1                         2715
compCool2                         2715
compHeat1                         2715
compHeat2                         2715
fan                               2715
Thermostat_Temperature            2721
Thermostat_Motion               104832
Remote_Sensor_1_Temperature       2857
Remote_Sensor_1_Motion            2798
Remote_Sensor_2_Temperature       3008
Remote_Sensor_2_Motion            3008
Remote_Sensor_3_Temperature     104832
Remote_Sensor_3_Motion          104832
Remote_Sensor_4_Temperature     104832
Remote_Sensor_4_Motion          104832
Remote_Sensor_5_Temperature     104832
Remote_Sensor_5_Motion          104832
Remote_Sensor_6_Temperature     104832
Remote_Sensor_6_Motion          104832
Remote_Sensor_7_Temperature     104832
Remote_Sensor_7_Motion          104832
Remote_Sensor_8_Temperature     104832
Remote_Sensor_8_Motion          104832
Remote_Sensor_9_Temperature     104832
Remote_Sensor_9_Motion          104832
Remote_Sensor_10_Temperature    104832
Remote_Sensor_10_Motion         104832
T_out                             1182
RH_out                            1182
dtype: int64

### Drop All Columns with No Data

In [6]:
house_data = house_data.drop(labels = ['Remote_Sensor_1_Temperature', 'Remote_Sensor_1_Motion', 'Remote_Sensor_2_Temperature', 'Remote_Sensor_2_Motion', 'Remote_Sensor_3_Temperature', 'Remote_Sensor_3_Motion', 'Remote_Sensor_4_Temperature', 'Remote_Sensor_4_Motion', 'Remote_Sensor_5_Temperature', 'Remote_Sensor_5_Motion', 'Remote_Sensor_6_Temperature', 'Remote_Sensor_6_Motion', 'Remote_Sensor_7_Temperature', 'Remote_Sensor_7_Motion', 'Remote_Sensor_8_Temperature', 'Remote_Sensor_8_Motion', 'Remote_Sensor_9_Temperature', 'Remote_Sensor_9_Motion', 'Remote_Sensor_10_Temperature', 'Remote_Sensor_10_Motion'], axis = 1)

In [7]:
house_data = house_data.drop(labels = ['auxHeat2', 'auxHeat3', 'compHeat1', 'compCool2', 'compHeat2'], axis = 1)

In [8]:
house_data = house_data.drop(labels = ['HumidityExpectedLow', 'HumidityExpectedHigh'], axis = 1)

In [9]:
house_data.drop(labels = ['Thermostat_Motion'], axis = 1, inplace = True)

In [10]:
house_data.HvacMode.value_counts()

auto    47132
heat    26851
cool    23553
off      4551
Name: HvacMode, dtype: int64

In [11]:
house_data.shape

(104832, 14)

In [12]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,auxHeat1,compCool1,fan,Thermostat_Temperature,T_out,RH_out
0,2019-01-01 00:00:00,auto,NaN,Sleep,70.0,78.0,64.0,30.0,0.0,0.0,0.0,70.0,41.0,94.0
1,2019-01-01 00:05:00,auto,NaN,Sleep,70.0,78.0,64.0,30.0,0.0,0.0,0.0,70.0,41.0,94.0
2,2019-01-01 00:10:00,auto,NaN,Sleep,70.0,78.0,64.0,30.0,0.0,0.0,0.0,70.0,41.0,94.0
3,2019-01-01 00:15:00,auto,NaN,Sleep,69.0,78.0,64.0,30.0,0.0,0.0,0.0,70.0,41.0,94.0
4,2019-01-01 00:20:00,auto,NaN,Sleep,69.0,78.0,64.0,30.0,0.0,0.0,0.0,70.0,41.0,94.0

In [13]:
house_data.isnull().sum()

DateTime                      0
HvacMode                   2745
Event                     85255
Schedule                   2745
T_ctrl                     2745
T_stp_cool                 5043
T_stp_heat                 2745
Humidity                   2745
auxHeat1                   2715
compCool1                  2715
fan                        2715
Thermostat_Temperature     2721
T_out                      1182
RH_out                     1182
dtype: int64

### Drop All Rows with NaN Values

In [14]:
null_list = house_data[house_data['auxHeat1'].isnull()].index.tolist()

In [15]:
house_data = house_data.drop(null_list)

In [16]:
house_data.isnull().sum()

DateTime                      0
HvacMode                     30
Event                     82540
Schedule                     30
T_ctrl                       30
T_stp_cool                 2328
T_stp_heat                   30
Humidity                     30
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       12
T_out                      1176
RH_out                     1176
dtype: int64

In [17]:
null_list = house_data[house_data['HvacMode'].isnull()].index.tolist()

In [18]:
house_data = house_data.drop(null_list)

In [19]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     82510
Schedule                      0
T_ctrl                        0
T_stp_cool                 2298
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       12
T_out                      1176
RH_out                     1176
dtype: int64

### Drop All Rows with Missing T_out Values

In [20]:
null_list = house_data[house_data['T_out'].isnull()].index.tolist()

In [21]:
house_data = house_data.drop(null_list)

In [22]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     81410
Schedule                      0
T_ctrl                        0
T_stp_cool                 2298
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       12
T_out                         0
RH_out                        0
dtype: int64

In [23]:
null_list = house_data[house_data['Thermostat_Temperature'].isnull()].index.tolist()

In [24]:
house_data = house_data.drop(null_list)

In [25]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     81401
Schedule                      0
T_ctrl                        0
T_stp_cool                 2298
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                         0
RH_out                        0
dtype: int64

### Rename Null Values in 'Event' to - None

In [26]:
house_data["Event"].fillna("None", inplace = True)

In [27]:
house_data.isnull().sum()

DateTime                     0
HvacMode                     0
Event                        0
Schedule                     0
T_ctrl                       0
T_stp_cool                2298
T_stp_heat                   0
Humidity                     0
auxHeat1                     0
compCool1                    0
fan                          0
Thermostat_Temperature       0
T_out                        0
RH_out                       0
dtype: int64

### Drop All Rows Where HVAC Mode is 'Cool' & 'Auto' (Summer Months)

In [28]:
cool_list = house_data[house_data['HvacMode'] == 'cool'].index.tolist()

In [29]:
house_data.shape

(100899, 14)

In [30]:
len(cool_list)

23487

In [31]:
house_data = house_data.drop(cool_list)

In [32]:
auto_list = house_data[house_data['HvacMode'] == 'auto'].index.tolist()

In [33]:
house_data = house_data.drop(auto_list)

In [34]:
house_data.shape

(31303, 14)

In [35]:
off_list = house_data[house_data['HvacMode'] == 'off'].index.tolist()

In [36]:
house_data = house_data.drop(off_list)

In [37]:
house_data.shape

(26752, 14)

### Drop Cooling Source Column

In [40]:
house_data = house_data.drop(labels = ['compCool1', 'T_stp_cool'], axis = 1)

In [41]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

In [42]:
null_list = house_data[house_data['T_stp_heat'].isnull()].index.tolist()

In [43]:
house_data = house_data.drop(null_list)

In [44]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### DateTime Manipulation

In [45]:
house_data.DateTime.dtype

dtype('O')

In [46]:
house_data['DateTime'] = pd.to_datetime(house_data['DateTime'])

In [47]:
house_data.DateTime

77910    2019-09-29 13:30:00
77911    2019-09-29 13:35:00
77912    2019-09-29 13:40:00
77913    2019-09-29 13:45:00
77914    2019-09-29 13:50:00
                 ...
104827   2019-12-31 23:35:00
104828   2019-12-31 23:40:00
104829   2019-12-31 23:45:00
104830   2019-12-31 23:50:00
104831   2019-12-31 23:55:00
Name: DateTime, Length: 26752, dtype: datetime64[ns]

In [48]:
house_data['Month'] = pd.DatetimeIndex(house_data['DateTime']).month

In [49]:
weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [50]:
house_data['DayOfWeek'] = pd.DatetimeIndex(house_data['DateTime']).dayofweek

In [51]:
house_data['HourofDay'] = pd.DatetimeIndex(house_data['DateTime']).hour

In [52]:
house_data.columns

Index(['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat',
       'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out',
       'RH_out', 'Month', 'DayOfWeek', 'HourofDay'],
      dtype='object')

In [53]:
cols = house_data.columns.tolist()
print(cols)

['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'Month', 'DayOfWeek', 'HourofDay']

In [54]:
cols = cols[-3:] + cols[:-3]
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [55]:
house_data = house_data[cols]

In [56]:
house_data.head()

,Month,DayOfWeek,HourofDay,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
77910,9,6,13,2019-09-29 13:30:00,heat,None,Home,67.0,69.0,59.0,120.0,120.0,68.0,57.0,49.0
77911,9,6,13,2019-09-29 13:35:00,heat,None,Home,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77912,9,6,13,2019-09-29 13:40:00,heat,None,Home,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77913,9,6,13,2019-09-29 13:45:00,heat,None,Home,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0
77914,9,6,13,2019-09-29 13:50:00,heat,None,Home,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0

In [57]:
house_data.drop(labels = ['DateTime'], axis = 1, inplace = True)

In [58]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
77910,9,6,13,heat,None,Home,67.0,69.0,59.0,120.0,120.0,68.0,57.0,49.0
77911,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77912,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77913,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0
77914,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0

### Generating New Column Based on auxHeat1 Values

In [ ]:
def transform_row(row):
    if row['auxHeat1'] == 0.0:
        return '0'
    else:
        return '1'

In [ ]:
house_data.apply(lambda row : transform_row(row), axis = 1)

In [ ]:
house_data['auxHeat1_label'] = house_data.apply(lambda row : transform_row(row), axis = 1)

In [ ]:
house_data.head()

#### Analyzing the Categorical Variables

In [59]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
77910,9,6,13,heat,None,Home,67.0,69.0,59.0,120.0,120.0,68.0,57.0,49.0
77911,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77912,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77913,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0
77914,9,6,13,heat,None,Home,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0

In [60]:
house_data.columns

Index(['Month', 'DayOfWeek', 'HourofDay', 'HvacMode', 'Event', 'Schedule',
       'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan',
       'Thermostat_Temperature', 'T_out', 'RH_out'],
      dtype='object')

In [61]:
house_data.drop(labels = ['HvacMode', 'Event', 'Schedule'], axis = 1, inplace = True)

#### Feature Engineering for Cyclical Features (HourofDay, Month & DayofWeek)

In [62]:
house_data.Month.unique()

array([ 9, 10, 11, 12], dtype=int64)

In [63]:
house_data.HourofDay.unique()

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,  0,  1,  2,  3,  4,  5,
        6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [64]:
house_data.DayOfWeek.unique()

array([6, 0, 1, 2, 3, 4, 5], dtype=int64)

In [65]:
house_data['hour_sin'] = np.sin(house_data.HourofDay * (2. * np.pi / 24))
house_data['hour_cos'] = np.cos(house_data.HourofDay * (2. * np.pi / 24))
house_data['month_sin'] = np.sin((house_data.Month - 1) * (2. * np.pi / 12))
house_data['month_cos'] = np.cos((house_data.Month - 1) * (2. * np.pi / 12))
house_data['day_sin'] = np.sin(house_data.DayOfWeek) * (2. * np.pi / 7)
house_data['day_cos'] = np.cos(house_data.DayOfWeek) * (2. * np.pi / 7)

In [66]:
cols = house_data.columns.tolist()
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos']

In [67]:
cols = cols[-6:] + cols[:-6]
print(cols)

['hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [68]:
house_data = house_data[cols]

In [69]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
77910,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,67.0,69.0,59.0,120.0,120.0,68.0,57.0,49.0
77911,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77912,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,67.0,69.0,59.0,300.0,300.0,68.0,57.0,49.0
77913,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0
77914,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,67.0,69.0,59.0,300.0,300.0,69.0,57.0,49.0

### Data Pre-Processing

In [70]:
categorical_vars = ['HvacMode', 'Event', 'Schedule']
numerical_vars = ['T_ctrl', 'T_stp_heat', 'Humidity', 'Thermostat_Temperature', 'T_out', 'RH_out']

#### Standardizing the Numerical Features

In [71]:
#sc = StandardScaler()
#house_data[numerical_vars] = sc.fit_transform(house_data[numerical_vars])

In [72]:
sc = load(open('scaler.pkl', 'rb'))
house_data[numerical_vars] = sc.transform(house_data[numerical_vars])

In [73]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
77910,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,120.0,120.0,-0.410892,1.06343,-1.367626
77911,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,300.0,300.0,-0.410892,1.06343,-1.367626
77912,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,300.0,300.0,-0.410892,1.06343,-1.367626
77913,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,300.0,300.0,-0.040214,1.06343,-1.367626
77914,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,300.0,300.0,-0.040214,1.06343,-1.367626

In [74]:
house_data.reset_index(inplace = True)

#### Ordinal Encoding the 'fan' Feature & 'auxHeat1' Feature

In [75]:
y_auxHeat = house_data['auxHeat1'].to_numpy()
y_fan = house_data['fan'].to_numpy()

In [76]:
oe = OrdinalEncoder()
y_auxHeat = oe.fit_transform(y_auxHeat.reshape(-1, 1))
y_fan = oe.fit_transform(y_fan.reshape(-1, 1))

In [77]:
y_auxHeat = y_auxHeat.reshape(y_auxHeat.shape[0], )
y_fan = y_fan.reshape(y_fan.shape[0], )

In [78]:
y_auxHeat = y_auxHeat.astype(int)
y_auxHeat = y_auxHeat.astype(str)

y_fan = y_fan.astype(int)
y_fan = y_fan.astype(str)

In [79]:
house_data['auxHeat1'] = y_auxHeat
house_data['fan'] = y_fan

In [80]:
house_data.head()

,index,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,77910,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,8,8,-0.410892,1.06343,-1.367626
1,77911,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,20,20,-0.410892,1.06343,-1.367626
2,77912,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,20,20,-0.410892,1.06343,-1.367626
3,77913,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,20,20,-0.040214,1.06343,-1.367626
4,77914,-0.258819,-0.965926,-0.866025,-0.5,-0.250803,0.861847,9,6,13,-0.794375,0.418099,2.431076,20,20,-0.040214,1.06343,-1.367626

In [81]:
house_data.auxHeat1.unique()

array(['8', '20', '5', '0', '10', '4', '11', '16', '14', '2', '12', '17',
       '3', '1', '13', '9', '15', '6', '19', '7', '18'], dtype=object)

In [82]:
house_data.fan.unique()

array(['8', '20', '0', '10', '11', '7', '13', '14', '16', '17', '5', '2',
       '12', '4', '15', '3', '1', '19', '6', '9', '18'], dtype=object)

In [83]:
house_data.shape

(26752, 18)

In [84]:
house_data.to_csv("../preprocessed_data/std_test_data_7d3e3b8f5a29e01917c11417de021787b5dbf6be.csv", index = False)