In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from pickle import load

In [2]:
house_data = pd.read_csv("../raw_data/be3947e8e568396e84549fad714a9e59c82c579e.csv")

In [3]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,HumidityExpectedLow,HumidityExpectedHigh,...,Remote_Sensor_7_Temperature,Remote_Sensor_7_Motion,Remote_Sensor_8_Temperature,Remote_Sensor_8_Motion,Remote_Sensor_9_Temperature,Remote_Sensor_9_Motion,Remote_Sensor_10_Temperature,Remote_Sensor_10_Motion,T_out,RH_out
0,2019-01-01 00:00:00,heat,NaN,Sleep,69.0,73.0,69.0,34.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
1,2019-01-01 00:05:00,heat,NaN,Sleep,68.0,73.0,69.0,34.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
2,2019-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
3,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
4,2019-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0

In [4]:
house_data.shape

(104832, 42)

In [5]:
house_data.isnull().sum()

DateTime                             0
HvacMode                          5768
Event                            82076
Schedule                          5768
T_ctrl                            5768
T_stp_cool                        5768
T_stp_heat                       11875
Humidity                          5768
HumidityExpectedLow               5768
HumidityExpectedHigh              5768
auxHeat1                          5760
auxHeat2                          5760
auxHeat3                          5760
compCool1                         5760
compCool2                         5760
compHeat1                         5760
compHeat2                         5760
fan                               5760
Thermostat_Temperature            5765
Thermostat_Motion               104832
Remote_Sensor_1_Temperature       5782
Remote_Sensor_1_Motion            5782
Remote_Sensor_2_Temperature       5771
Remote_Sensor_2_Motion            5771
Remote_Sensor_3_Temperature     104832
Remote_Sensor_3_Motion          104832
Remote_Sensor_4_Temperature     104832
Remote_Sensor_4_Motion          104832
Remote_Sensor_5_Temperature     104832
Remote_Sensor_5_Motion          104832
Remote_Sensor_6_Temperature     104832
Remote_Sensor_6_Motion          104832
Remote_Sensor_7_Temperature     104832
Remote_Sensor_7_Motion          104832
Remote_Sensor_8_Temperature     104832
Remote_Sensor_8_Motion          104832
Remote_Sensor_9_Temperature     104832
Remote_Sensor_9_Motion          104832
Remote_Sensor_10_Temperature    104832
Remote_Sensor_10_Motion         104832
T_out                             1152
RH_out                            1152
dtype: int64

### Drop All Columns with No Data

In [6]:
house_data = house_data.drop(labels = ['Remote_Sensor_1_Temperature', 'Remote_Sensor_1_Motion', 'Remote_Sensor_2_Temperature', 'Remote_Sensor_2_Motion', 'Remote_Sensor_3_Temperature', 'Remote_Sensor_3_Motion', 'Remote_Sensor_4_Temperature', 'Remote_Sensor_4_Motion', 'Remote_Sensor_5_Temperature', 'Remote_Sensor_5_Motion', 'Remote_Sensor_6_Temperature', 'Remote_Sensor_6_Motion', 'Remote_Sensor_7_Temperature', 'Remote_Sensor_7_Motion', 'Remote_Sensor_8_Temperature', 'Remote_Sensor_8_Motion', 'Remote_Sensor_9_Temperature', 'Remote_Sensor_9_Motion', 'Remote_Sensor_10_Temperature', 'Remote_Sensor_10_Motion'], axis = 1)

In [7]:
house_data = house_data.drop(labels = ['auxHeat2', 'auxHeat3', 'compHeat1', 'compCool2', 'compHeat2'], axis = 1)

In [8]:
house_data = house_data.drop(labels = ['HumidityExpectedLow', 'HumidityExpectedHigh'], axis = 1)

In [9]:
house_data.drop(labels = ['Thermostat_Motion'], axis = 1, inplace = True)

In [10]:
house_data.HvacMode.value_counts()

auto    63825
heat    35239
Name: HvacMode, dtype: int64

In [11]:
house_data.shape

(104832, 14)

In [12]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,auxHeat1,compCool1,fan,Thermostat_Temperature,T_out,RH_out
0,2019-01-01 00:00:00,heat,NaN,Sleep,69.0,73.0,69.0,34.0,0.0,0.0,255.0,69.0,41.0,95.0
1,2019-01-01 00:05:00,heat,NaN,Sleep,68.0,73.0,69.0,34.0,0.0,0.0,270.0,69.0,41.0,95.0
2,2019-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
3,2019-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
4,2019-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0

In [13]:
house_data.isnull().sum()

DateTime                      0
HvacMode                   5768
Event                     82076
Schedule                   5768
T_ctrl                     5768
T_stp_cool                 5768
T_stp_heat                11875
Humidity                   5768
auxHeat1                   5760
compCool1                  5760
fan                        5760
Thermostat_Temperature     5765
T_out                      1152
RH_out                     1152
dtype: int64

### Drop All Rows with NaN Values

In [14]:
null_list = house_data[house_data['auxHeat1'].isnull()].index.tolist()

In [15]:
house_data = house_data.drop(null_list)

In [16]:
house_data.isnull().sum()

DateTime                      0
HvacMode                     15
Event                     76317
Schedule                     15
T_ctrl                       15
T_stp_cool                   15
T_stp_heat                 6122
Humidity                     15
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       11
T_out                      1069
RH_out                     1069
dtype: int64

In [17]:
null_list = house_data[house_data['HvacMode'].isnull()].index.tolist()

In [18]:
house_data = house_data.drop(null_list)

In [19]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     76302
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                 6107
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       11
T_out                      1069
RH_out                     1069
dtype: int64

### Drop All Rows with Missing T_out Values

In [20]:
null_list = house_data[house_data['T_out'].isnull()].index.tolist()

In [21]:
house_data = house_data.drop(null_list)

In [22]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     75680
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                 6107
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        9
T_out                         0
RH_out                        0
dtype: int64

In [23]:
null_list = house_data[house_data['Thermostat_Temperature'].isnull()].index.tolist()

In [24]:
house_data = house_data.drop(null_list)

In [25]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     75671
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                 6107
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                         0
RH_out                        0
dtype: int64

### Rename Null Values in 'Event' to - None

In [26]:
house_data["Event"].fillna("None", inplace = True)

In [27]:
house_data.isnull().sum()

DateTime                     0
HvacMode                     0
Event                        0
Schedule                     0
T_ctrl                       0
T_stp_cool                   0
T_stp_heat                6107
Humidity                     0
auxHeat1                     0
compCool1                    0
fan                          0
Thermostat_Temperature       0
T_out                        0
RH_out                       0
dtype: int64

### Drop All Rows Where HVAC Mode is 'Cool' & 'Auto' (Summer Months)

In [28]:
cool_list = house_data[house_data['HvacMode'] == 'cool'].index.tolist()

In [29]:
house_data.shape

(97979, 14)

In [30]:
len(cool_list)

0

In [31]:
house_data = house_data.drop(cool_list)

In [32]:
auto_list = house_data[house_data['HvacMode'] == 'auto'].index.tolist()

In [33]:
house_data = house_data.drop(auto_list)

In [34]:
house_data.shape

(34251, 14)

In [35]:
off_list = house_data[house_data['HvacMode'] == 'off'].index.tolist()

In [36]:
house_data = house_data.drop(off_list)

### Drop Cooling Source Column

In [37]:
house_data = house_data.drop(labels = ['compCool1', 'T_stp_cool'], axis = 1)

In [38]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

In [39]:
null_list = house_data[house_data['T_stp_heat'].isnull()].index.tolist()

In [40]:
house_data = house_data.drop(null_list)

In [41]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### DateTime Manipulation

In [42]:
house_data.DateTime.dtype

dtype('O')

In [43]:
house_data['DateTime'] = pd.to_datetime(house_data['DateTime'])

In [44]:
house_data.DateTime

0        2019-01-01 00:00:00
1        2019-01-01 00:05:00
5        2019-01-01 00:25:00
6        2019-01-01 00:30:00
7        2019-01-01 00:35:00
                 ...
104827   2019-12-31 23:35:00
104828   2019-12-31 23:40:00
104829   2019-12-31 23:45:00
104830   2019-12-31 23:50:00
104831   2019-12-31 23:55:00
Name: DateTime, Length: 34251, dtype: datetime64[ns]

In [45]:
house_data['Month'] = pd.DatetimeIndex(house_data['DateTime']).month

In [46]:
weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [47]:
house_data['DayOfWeek'] = pd.DatetimeIndex(house_data['DateTime']).dayofweek

In [48]:
house_data['HourofDay'] = pd.DatetimeIndex(house_data['DateTime']).hour

In [49]:
house_data.columns

Index(['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat',
       'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out',
       'RH_out', 'Month', 'DayOfWeek', 'HourofDay'],
      dtype='object')

In [50]:
cols = house_data.columns.tolist()
print(cols)

['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'Month', 'DayOfWeek', 'HourofDay']

In [51]:
cols = cols[-3:] + cols[:-3]
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [52]:
house_data = house_data[cols]

In [53]:
house_data.head()

,Month,DayOfWeek,HourofDay,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,2019-01-01 00:00:00,heat,None,Sleep,69.0,69.0,34.0,0.0,255.0,69.0,41.0,95.0
1,1,1,0,2019-01-01 00:05:00,heat,None,Sleep,68.0,69.0,34.0,0.0,270.0,69.0,41.0,95.0
5,1,1,0,2019-01-01 00:25:00,heat,None,Sleep,69.0,69.0,33.0,0.0,0.0,70.0,41.0,95.0
6,1,1,0,2019-01-01 00:30:00,heat,None,Sleep,68.0,69.0,34.0,0.0,255.0,70.0,42.0,96.0
7,1,1,0,2019-01-01 00:35:00,heat,None,Sleep,69.0,69.0,33.0,0.0,270.0,70.0,42.0,96.0

In [54]:
house_data.drop(labels = ['DateTime'], axis = 1, inplace = True)

In [55]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,heat,None,Sleep,69.0,69.0,34.0,0.0,255.0,69.0,41.0,95.0
1,1,1,0,heat,None,Sleep,68.0,69.0,34.0,0.0,270.0,69.0,41.0,95.0
5,1,1,0,heat,None,Sleep,69.0,69.0,33.0,0.0,0.0,70.0,41.0,95.0
6,1,1,0,heat,None,Sleep,68.0,69.0,34.0,0.0,255.0,70.0,42.0,96.0
7,1,1,0,heat,None,Sleep,69.0,69.0,33.0,0.0,270.0,70.0,42.0,96.0

### Generating New Column Based on auxHeat1 Values

In [56]:
def transform_row(row):
    if row['auxHeat1'] == 0.0:
        return '0'
    else:
        return '1'

In [57]:
house_data.apply(lambda row : transform_row(row), axis = 1)

0         0
1         0
5         0
6         0
7         0
         ..
104827    0
104828    0
104829    1
104830    1
104831    1
Length: 34251, dtype: object

In [58]:
house_data['auxHeat1_label'] = house_data.apply(lambda row : transform_row(row), axis = 1)

In [59]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,1,1,0,heat,None,Sleep,69.0,69.0,34.0,0.0,255.0,69.0,41.0,95.0,0
1,1,1,0,heat,None,Sleep,68.0,69.0,34.0,0.0,270.0,69.0,41.0,95.0,0
5,1,1,0,heat,None,Sleep,69.0,69.0,33.0,0.0,0.0,70.0,41.0,95.0,0
6,1,1,0,heat,None,Sleep,68.0,69.0,34.0,0.0,255.0,70.0,42.0,96.0,0
7,1,1,0,heat,None,Sleep,69.0,69.0,33.0,0.0,270.0,70.0,42.0,96.0,0

#### Analyzing the Categorical Variables

In [60]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,1,1,0,heat,None,Sleep,69.0,69.0,34.0,0.0,255.0,69.0,41.0,95.0,0
1,1,1,0,heat,None,Sleep,68.0,69.0,34.0,0.0,270.0,69.0,41.0,95.0,0
5,1,1,0,heat,None,Sleep,69.0,69.0,33.0,0.0,0.0,70.0,41.0,95.0,0
6,1,1,0,heat,None,Sleep,68.0,69.0,34.0,0.0,255.0,70.0,42.0,96.0,0
7,1,1,0,heat,None,Sleep,69.0,69.0,33.0,0.0,270.0,70.0,42.0,96.0,0

In [61]:
house_data.columns

Index(['Month', 'DayOfWeek', 'HourofDay', 'HvacMode', 'Event', 'Schedule',
       'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan',
       'Thermostat_Temperature', 'T_out', 'RH_out', 'auxHeat1_label'],
      dtype='object')

In [62]:
house_data.drop(labels = ['HvacMode', 'Event', 'Schedule'], axis = 1, inplace = True)

#### Feature Engineering for Cyclical Features (HourofDay, Month & DayofWeek)

In [63]:
house_data.Month.unique()

array([ 1,  2,  3,  4,  5, 12], dtype=int64)

In [64]:
house_data.HourofDay.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [65]:
house_data.DayOfWeek.unique()

array([1, 2, 3, 4, 5, 6, 0], dtype=int64)

In [66]:
house_data['hour_sin'] = np.sin(house_data.HourofDay * (2. * np.pi / 24))
house_data['hour_cos'] = np.cos(house_data.HourofDay * (2. * np.pi / 24))
house_data['month_sin'] = np.sin((house_data.Month - 1) * (2. * np.pi / 12))
house_data['month_cos'] = np.cos((house_data.Month - 1) * (2. * np.pi / 12))
house_data['day_sin'] = np.sin(house_data.DayOfWeek) * (2. * np.pi / 7)
house_data['day_cos'] = np.cos(house_data.DayOfWeek) * (2. * np.pi / 7)

In [67]:
cols = house_data.columns.tolist()
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'auxHeat1_label', 'hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos']

In [68]:
cols = cols[-6:] + cols[:-6]
print(cols)

['hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'auxHeat1_label']

In [69]:
house_data = house_data[cols]

In [70]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,69.0,69.0,34.0,0.0,255.0,69.0,41.0,95.0,0
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,68.0,69.0,34.0,0.0,270.0,69.0,41.0,95.0,0
5,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,69.0,69.0,33.0,0.0,0.0,70.0,41.0,95.0,0
6,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,68.0,69.0,34.0,0.0,255.0,70.0,42.0,96.0,0
7,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,69.0,69.0,33.0,0.0,270.0,70.0,42.0,96.0,0

### Data Pre-Processing

In [71]:
categorical_vars = ['HvacMode', 'Event', 'Schedule']
numerical_vars = ['T_ctrl', 'T_stp_heat', 'Humidity', 'Thermostat_Temperature', 'T_out', 'RH_out']

#### Standardizing the Numerical Features

In [72]:
#sc = StandardScaler()
#house_data[numerical_vars] = sc.fit_transform(house_data[numerical_vars])

In [73]:
sc = load(open('scaler.pkl', 'rb'))
house_data[numerical_vars] = sc.transform(house_data[numerical_vars])

In [74]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.418099,-0.129853,0.0,255.0,-0.040214,0.009112,1.808865,0
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.425687,0.418099,-0.129853,0.0,270.0,-0.040214,0.009112,1.808865,0
5,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.418099,-0.232290,0.0,0.0,0.330465,0.009112,1.808865,0
6,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.425687,0.418099,-0.129853,0.0,255.0,0.330465,0.075007,1.877919,0
7,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.418099,-0.232290,0.0,270.0,0.330465,0.075007,1.877919,0

In [75]:
house_data.reset_index(inplace = True)

#### Ordinal Encoding the 'fan' Feature & 'auxHeat1' Feature

In [76]:
y_auxHeat = house_data['auxHeat1'].to_numpy()
y_fan = house_data['fan'].to_numpy()

In [77]:
oe = OrdinalEncoder()
y_auxHeat = oe.fit_transform(y_auxHeat.reshape(-1, 1))
y_fan = oe.fit_transform(y_fan.reshape(-1, 1))

In [78]:
y_auxHeat = y_auxHeat.reshape(y_auxHeat.shape[0], )
y_fan = y_fan.reshape(y_fan.shape[0], )

In [79]:
y_auxHeat = y_auxHeat.astype(int)
y_auxHeat = y_auxHeat.astype(str)

y_fan = y_fan.astype(int)
y_fan = y_fan.astype(str)

In [80]:
house_data['auxHeat1'] = y_auxHeat
house_data['fan'] = y_fan

In [81]:
house_data.head()

,index,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.418099,-0.129853,0,17,-0.040214,0.009112,1.808865,0
1,1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.425687,0.418099,-0.129853,0,18,-0.040214,0.009112,1.808865,0
2,5,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.418099,-0.232290,0,0,0.330465,0.009112,1.808865,0
3,6,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.425687,0.418099,-0.129853,0,17,0.330465,0.075007,1.877919,0
4,7,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.418099,-0.232290,0,18,0.330465,0.075007,1.877919,0

In [82]:
house_data.auxHeat1.unique()

array(['0', '19', '20', '5', '14', '16', '1', '6', '17', '15', '10', '13',
       '3', '11', '18', '7', '12', '9', '2', '4', '8'], dtype=object)

In [83]:
house_data.fan.unique()

array(['17', '18', '0', '19', '20', '5', '11', '2', '9', '16', '3', '15',
       '13', '7', '6', '4', '10', '14', '12', '8', '1'], dtype=object)

In [84]:
house_data.shape

(34251, 19)

In [85]:
house_data.to_csv("../preprocessed_data/std_test_data.csv", index = False)