In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from pickle import load

In [2]:
house_data = pd.read_csv("../raw_data/675d186406d3bce54a44f51a346e94856dddb8a8.csv")

In [3]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,HumidityExpectedLow,HumidityExpectedHigh,...,Remote_Sensor_7_Temperature,Remote_Sensor_7_Motion,Remote_Sensor_8_Temperature,Remote_Sensor_8_Motion,Remote_Sensor_9_Temperature,Remote_Sensor_9_Motion,Remote_Sensor_10_Temperature,Remote_Sensor_10_Motion,T_out,RH_out
0,2019-01-01 00:00:00,heat,Hold,Sleep,70.0,71.0,71.0,41.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,99.0
1,2019-01-01 00:05:00,heat,Hold,Sleep,70.0,71.0,71.0,41.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,99.0
2,2019-01-01 00:10:00,heat,Hold,Sleep,70.0,71.0,71.0,41.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,99.0
3,2019-01-01 00:15:00,heat,Hold,Sleep,69.0,71.0,71.0,41.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,99.0
4,2019-01-01 00:20:00,heat,Hold,Sleep,69.0,71.0,71.0,41.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,99.0

In [4]:
house_data.shape

(104544, 42)

In [5]:
house_data.isnull().sum()

DateTime                             0
HvacMode                          2825
Event                            38313
Schedule                          2825
T_ctrl                            2825
T_stp_cool                        2825
T_stp_heat                        2825
Humidity                          2825
HumidityExpectedLow               2825
HumidityExpectedHigh              2825
auxHeat1                          2816
auxHeat2                          2816
auxHeat3                          2816
compCool1                         2816
compCool2                         2816
compHeat1                         2816
compHeat2                         2816
fan                               2816
Thermostat_Temperature            2825
Thermostat_Motion               104544
Remote_Sensor_1_Temperature     104544
Remote_Sensor_1_Motion          104544
Remote_Sensor_2_Temperature     104544
Remote_Sensor_2_Motion          104544
Remote_Sensor_3_Temperature     104544
Remote_Sensor_3_Motion          104544
Remote_Sensor_4_Temperature     104544
Remote_Sensor_4_Motion          104544
Remote_Sensor_5_Temperature     104544
Remote_Sensor_5_Motion          104544
Remote_Sensor_6_Temperature     104544
Remote_Sensor_6_Motion          104544
Remote_Sensor_7_Temperature     104544
Remote_Sensor_7_Motion          104544
Remote_Sensor_8_Temperature     104544
Remote_Sensor_8_Motion          104544
Remote_Sensor_9_Temperature     104544
Remote_Sensor_9_Motion          104544
Remote_Sensor_10_Temperature    104544
Remote_Sensor_10_Motion         104544
T_out                             1194
RH_out                            1194
dtype: int64

### Drop All Columns with No Data

In [6]:
house_data = house_data.drop(labels = ['Remote_Sensor_1_Temperature', 'Remote_Sensor_1_Motion', 'Remote_Sensor_2_Temperature', 'Remote_Sensor_2_Motion', 'Remote_Sensor_3_Temperature', 'Remote_Sensor_3_Motion', 'Remote_Sensor_4_Temperature', 'Remote_Sensor_4_Motion', 'Remote_Sensor_5_Temperature', 'Remote_Sensor_5_Motion', 'Remote_Sensor_6_Temperature', 'Remote_Sensor_6_Motion', 'Remote_Sensor_7_Temperature', 'Remote_Sensor_7_Motion', 'Remote_Sensor_8_Temperature', 'Remote_Sensor_8_Motion', 'Remote_Sensor_9_Temperature', 'Remote_Sensor_9_Motion', 'Remote_Sensor_10_Temperature', 'Remote_Sensor_10_Motion'], axis = 1)

In [7]:
house_data = house_data.drop(labels = ['auxHeat2', 'auxHeat3', 'compHeat1', 'compCool2', 'compHeat2'], axis = 1)

In [8]:
house_data = house_data.drop(labels = ['HumidityExpectedLow', 'HumidityExpectedHigh'], axis = 1)

In [9]:
house_data.drop(labels = ['Thermostat_Motion'], axis = 1, inplace = True)

In [10]:
house_data.HvacMode.value_counts()

heat    64496
cool    29595
off      7628
Name: HvacMode, dtype: int64

In [11]:
house_data.shape

(104544, 14)

In [12]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,auxHeat1,compCool1,fan,Thermostat_Temperature,T_out,RH_out
0,2019-01-01 00:00:00,heat,Hold,Sleep,70.0,71.0,71.0,41.0,0.0,0.0,0.0,70.0,40.0,99.0
1,2019-01-01 00:05:00,heat,Hold,Sleep,70.0,71.0,71.0,41.0,0.0,0.0,0.0,70.0,40.0,99.0
2,2019-01-01 00:10:00,heat,Hold,Sleep,70.0,71.0,71.0,41.0,0.0,0.0,0.0,70.0,40.0,99.0
3,2019-01-01 00:15:00,heat,Hold,Sleep,69.0,71.0,71.0,41.0,0.0,0.0,30.0,69.0,40.0,99.0
4,2019-01-01 00:20:00,heat,Hold,Sleep,69.0,71.0,71.0,41.0,0.0,0.0,270.0,69.0,40.0,99.0

In [13]:
house_data.isnull().sum()

DateTime                      0
HvacMode                   2825
Event                     38313
Schedule                   2825
T_ctrl                     2825
T_stp_cool                 2825
T_stp_heat                 2825
Humidity                   2825
auxHeat1                   2816
compCool1                  2816
fan                        2816
Thermostat_Temperature     2825
T_out                      1194
RH_out                     1194
dtype: int64

### Drop All Rows with NaN Values

In [14]:
null_list = house_data[house_data['auxHeat1'].isnull()].index.tolist()

In [15]:
house_data = house_data.drop(null_list)

In [16]:
house_data.isnull().sum()

DateTime                      0
HvacMode                     12
Event                     35500
Schedule                     12
T_ctrl                       12
T_stp_cool                   12
T_stp_heat                   12
Humidity                     12
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       12
T_out                      1182
RH_out                     1182
dtype: int64

In [17]:
null_list = house_data[house_data['HvacMode'].isnull()].index.tolist()

In [18]:
house_data = house_data.drop(null_list)

In [19]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     35488
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        3
T_out                      1182
RH_out                     1182
dtype: int64

### Drop All Rows with Missing T_out Values

In [20]:
null_list = house_data[house_data['T_out'].isnull()].index.tolist()

In [21]:
house_data = house_data.drop(null_list)

In [22]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     35285
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        3
T_out                         0
RH_out                        0
dtype: int64

In [23]:
null_list = house_data[house_data['Thermostat_Temperature'].isnull()].index.tolist()

In [24]:
house_data = house_data.drop(null_list)

In [25]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     35285
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                         0
RH_out                        0
dtype: int64

### Rename Null Values in 'Event' to - None

In [26]:
house_data["Event"].fillna("None", inplace = True)

In [27]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_cool                0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
compCool1                 0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### Drop All Rows Where HVAC Mode is 'Cool' & 'Auto' (Summer Months)

In [28]:
cool_list = house_data[house_data['HvacMode'] == 'cool'].index.tolist()

In [29]:
house_data.shape

(100531, 14)

In [30]:
len(cool_list)

29553

In [31]:
house_data = house_data.drop(cool_list)

In [32]:
auto_list = house_data[house_data['HvacMode'] == 'auto'].index.tolist()

In [33]:
house_data = house_data.drop(auto_list)

In [34]:
house_data.shape

(70978, 14)

In [35]:
off_list = house_data[house_data['HvacMode'] == 'off'].index.tolist()

In [36]:
house_data = house_data.drop(off_list)

In [37]:
house_data.shape

(63350, 14)

### Drop Cooling Source Column

In [38]:
house_data = house_data.drop(labels = ['compCool1', 'T_stp_cool'], axis = 1)

In [39]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

In [40]:
null_list = house_data[house_data['T_stp_heat'].isnull()].index.tolist()

In [41]:
house_data = house_data.drop(null_list)

In [42]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### DateTime Manipulation

In [43]:
house_data.DateTime.dtype

dtype('O')

In [44]:
house_data['DateTime'] = pd.to_datetime(house_data['DateTime'])

In [45]:
house_data.DateTime

0        2019-01-01 00:00:00
1        2019-01-01 00:05:00
2        2019-01-01 00:10:00
3        2019-01-01 00:15:00
4        2019-01-01 00:20:00
                 ...
104539   2019-12-31 23:35:00
104540   2019-12-31 23:40:00
104541   2019-12-31 23:45:00
104542   2019-12-31 23:50:00
104543   2019-12-31 23:55:00
Name: DateTime, Length: 63350, dtype: datetime64[ns]

In [46]:
house_data['Month'] = pd.DatetimeIndex(house_data['DateTime']).month

In [47]:
weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [48]:
house_data['DayOfWeek'] = pd.DatetimeIndex(house_data['DateTime']).dayofweek

In [49]:
house_data['HourofDay'] = pd.DatetimeIndex(house_data['DateTime']).hour

In [50]:
house_data['Day'] = pd.DatetimeIndex(house_data['DateTime']).day

In [51]:
house_data.columns

Index(['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat',
       'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out',
       'RH_out', 'Month', 'DayOfWeek', 'HourofDay', 'Day'],
      dtype='object')

In [52]:
cols = house_data.columns.tolist()
print(cols)

['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'Month', 'DayOfWeek', 'HourofDay', 'Day']

In [53]:
cols = cols[-4:] + cols[:-4]
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'Day', 'DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [54]:
house_data = house_data[cols]

In [55]:
house_data.head()

,Month,DayOfWeek,HourofDay,Day,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,1,2019-01-01 00:00:00,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
1,1,1,0,1,2019-01-01 00:05:00,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
2,1,1,0,1,2019-01-01 00:10:00,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
3,1,1,0,1,2019-01-01 00:15:00,heat,Hold,Sleep,69.0,71.0,41.0,0.0,30.0,69.0,40.0,99.0
4,1,1,0,1,2019-01-01 00:20:00,heat,Hold,Sleep,69.0,71.0,41.0,0.0,270.0,69.0,40.0,99.0

In [56]:
house_data.drop(labels = ['DateTime'], axis = 1, inplace = True)

C:\Users\ankit\Anaconda3\envs\tensorflow-gpu\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [57]:
house_data.head()

,Month,DayOfWeek,HourofDay,Day,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,1,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
1,1,1,0,1,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
2,1,1,0,1,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
3,1,1,0,1,heat,Hold,Sleep,69.0,71.0,41.0,0.0,30.0,69.0,40.0,99.0
4,1,1,0,1,heat,Hold,Sleep,69.0,71.0,41.0,0.0,270.0,69.0,40.0,99.0

#### Analyzing the Categorical Variables

In [59]:
house_data.head()

,Month,DayOfWeek,HourofDay,Day,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,1,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
1,1,1,0,1,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
2,1,1,0,1,heat,Hold,Sleep,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0
3,1,1,0,1,heat,Hold,Sleep,69.0,71.0,41.0,0.0,30.0,69.0,40.0,99.0
4,1,1,0,1,heat,Hold,Sleep,69.0,71.0,41.0,0.0,270.0,69.0,40.0,99.0

In [60]:
house_data.columns

Index(['Month', 'DayOfWeek', 'HourofDay', 'Day', 'HvacMode', 'Event',
       'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan',
       'Thermostat_Temperature', 'T_out', 'RH_out'],
      dtype='object')

In [61]:
house_data.drop(labels = ['HvacMode', 'Event', 'Schedule'], axis = 1, inplace = True)

C:\Users\ankit\Anaconda3\envs\tensorflow-gpu\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

#### Feature Engineering for Cyclical Features (HourofDay, Month & DayofWeek)

In [64]:
house_data.Month.unique()

array([ 1,  2,  3,  4,  5, 10, 11, 12], dtype=int64)

In [65]:
house_data.HourofDay.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [66]:
house_data.DayOfWeek.unique()

array([1, 2, 3, 4, 5, 6, 0], dtype=int64)

In [67]:
house_data['hour_sin'] = np.sin(house_data.HourofDay * (2. * np.pi / 24))
house_data['hour_cos'] = np.cos(house_data.HourofDay * (2. * np.pi / 24))
house_data['month_sin'] = np.sin((house_data.Month - 1) * (2. * np.pi / 12))
house_data['month_cos'] = np.cos((house_data.Month - 1) * (2. * np.pi / 12))
house_data['day_sin'] = np.sin(house_data.DayOfWeek) * (2. * np.pi / 7)
house_data['day_cos'] = np.cos(house_data.DayOfWeek) * (2. * np.pi / 7)

In [68]:
cols = house_data.columns.tolist()
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'auxHeat1_label', 'hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos']

In [69]:
cols = cols[-6:] + cols[:-6]
print(cols)

['hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'auxHeat1_label']

In [70]:
house_data = house_data[cols]

In [71]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0,0
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0,0
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,70.0,71.0,41.0,0.0,0.0,70.0,40.0,99.0,0
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,69.0,71.0,41.0,0.0,30.0,69.0,40.0,99.0,0
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,69.0,71.0,41.0,0.0,270.0,69.0,40.0,99.0,0

### Data Pre-Processing

In [72]:
categorical_vars = ['HvacMode', 'Event', 'Schedule']
numerical_vars = ['T_ctrl', 'T_stp_heat', 'Humidity', 'Thermostat_Temperature', 'T_out', 'RH_out']

#### Standardizing the Numerical Features

In [73]:
#sc = StandardScaler()
#house_data[numerical_vars] = sc.fit_transform(house_data[numerical_vars])

In [74]:
sc = load(open('scaler.pkl', 'rb'))
house_data[numerical_vars] = sc.transform(house_data[numerical_vars])

In [75]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,0.311691,0.908543,0.587207,0.0,0.0,0.330465,-0.056783,2.085082,0
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,0.311691,0.908543,0.587207,0.0,0.0,0.330465,-0.056783,2.085082,0
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,0.311691,0.908543,0.587207,0.0,0.0,0.330465,-0.056783,2.085082,0
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.908543,0.587207,0.0,30.0,-0.040214,-0.056783,2.085082,0
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.908543,0.587207,0.0,270.0,-0.040214,-0.056783,2.085082,0

In [76]:
house_data.reset_index(inplace = True)

#### Ordinal Encoding the 'fan' Feature & 'auxHeat1' Feature

In [77]:
y_auxHeat = house_data['auxHeat1'].to_numpy()
y_fan = house_data['fan'].to_numpy()

In [78]:
oe = OrdinalEncoder()
y_auxHeat = oe.fit_transform(y_auxHeat.reshape(-1, 1))
y_fan = oe.fit_transform(y_fan.reshape(-1, 1))

In [79]:
y_auxHeat = y_auxHeat.reshape(y_auxHeat.shape[0], )
y_fan = y_fan.reshape(y_fan.shape[0], )

In [80]:
y_auxHeat = y_auxHeat.astype(int)
y_auxHeat = y_auxHeat.astype(str)

y_fan = y_fan.astype(int)
y_fan = y_fan.astype(str)

In [81]:
house_data['auxHeat1'] = y_auxHeat
house_data['fan'] = y_fan

In [82]:
house_data.head()

,index,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out,auxHeat1_label
0,0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,0.311691,0.908543,0.587207,0,0,0.330465,-0.056783,2.085082,0
1,1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,0.311691,0.908543,0.587207,0,0,0.330465,-0.056783,2.085082,0
2,2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,0.311691,0.908543,0.587207,0,0,0.330465,-0.056783,2.085082,0
3,3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.908543,0.587207,0,2,-0.040214,-0.056783,2.085082,0
4,4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,-0.056998,0.908543,0.587207,0,18,-0.040214,-0.056783,2.085082,0

In [83]:
house_data.auxHeat1.unique()

array(['0', '15', '20', '2', '8', '11', '4', '14', '10', '9', '13', '18',
       '7', '19', '17', '1', '3', '12', '16', '5', '6'], dtype=object)

In [84]:
house_data.fan.unique()

array(['0', '2', '18', '15', '20', '6', '8', '4', '10', '13', '7', '17',
       '3', '11', '9', '19', '1', '5', '16', '12', '14'], dtype=object)

In [85]:
house_data.shape

(63350, 19)

In [86]:
house_data.to_csv("../preprocessed_data/std_test_data_675d186406d3bce54a44f51a346e94856dddb8a8.csv", index = False)