In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from pickle import load

In [2]:
house_data = pd.read_csv("../raw_data/6150c70f76a3f4b0c6e303de7da9422aceb37345.csv")

In [3]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,HumidityExpectedLow,HumidityExpectedHigh,...,Remote_Sensor_7_Temperature,Remote_Sensor_7_Motion,Remote_Sensor_8_Temperature,Remote_Sensor_8_Motion,Remote_Sensor_9_Temperature,Remote_Sensor_9_Motion,Remote_Sensor_10_Temperature,Remote_Sensor_10_Motion,T_out,RH_out
0,2019-01-01 00:00:00,heat,Hold,Sleep,72.0,72.0,72.0,48.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
1,2019-01-01 00:05:00,heat,Hold,Sleep,72.0,72.0,72.0,48.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
2,2019-01-01 00:10:00,heat,Hold,Sleep,72.0,72.0,72.0,48.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
3,2019-01-01 00:15:00,heat,Hold,Sleep,71.0,72.0,72.0,48.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
4,2019-01-01 00:20:00,heat,Hold,Sleep,71.0,72.0,72.0,48.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0

In [4]:
house_data.shape

(104832, 42)

In [5]:
house_data.isnull().sum()

DateTime                             0
HvacMode                          3143
Event                            69683
Schedule                          3143
T_ctrl                            3143
T_stp_cool                        3143
T_stp_heat                        3143
Humidity                          3143
HumidityExpectedLow               3143
HumidityExpectedHigh              3143
auxHeat1                          3105
auxHeat2                          3105
auxHeat3                          3105
compCool1                         3105
compCool2                         3105
compHeat1                         3105
compHeat2                         3105
fan                               3105
Thermostat_Temperature            3001
Thermostat_Motion                 3001
Remote_Sensor_1_Temperature      53105
Remote_Sensor_1_Motion           35518
Remote_Sensor_2_Temperature     104832
Remote_Sensor_2_Motion          104832
Remote_Sensor_3_Temperature     104832
Remote_Sensor_3_Motion          104832
Remote_Sensor_4_Temperature     104832
Remote_Sensor_4_Motion          104832
Remote_Sensor_5_Temperature     104832
Remote_Sensor_5_Motion          104832
Remote_Sensor_6_Temperature     104832
Remote_Sensor_6_Motion          104832
Remote_Sensor_7_Temperature     104832
Remote_Sensor_7_Motion          104832
Remote_Sensor_8_Temperature     104832
Remote_Sensor_8_Motion          104832
Remote_Sensor_9_Temperature     104832
Remote_Sensor_9_Motion          104832
Remote_Sensor_10_Temperature    104832
Remote_Sensor_10_Motion         104832
T_out                             1152
RH_out                            1152
dtype: int64

### Drop All Columns with No Data

In [6]:
house_data = house_data.drop(labels = ['Remote_Sensor_1_Temperature', 'Remote_Sensor_1_Motion', 'Remote_Sensor_2_Temperature', 'Remote_Sensor_2_Motion', 'Remote_Sensor_3_Temperature', 'Remote_Sensor_3_Motion', 'Remote_Sensor_4_Temperature', 'Remote_Sensor_4_Motion', 'Remote_Sensor_5_Temperature', 'Remote_Sensor_5_Motion', 'Remote_Sensor_6_Temperature', 'Remote_Sensor_6_Motion', 'Remote_Sensor_7_Temperature', 'Remote_Sensor_7_Motion', 'Remote_Sensor_8_Temperature', 'Remote_Sensor_8_Motion', 'Remote_Sensor_9_Temperature', 'Remote_Sensor_9_Motion', 'Remote_Sensor_10_Temperature', 'Remote_Sensor_10_Motion'], axis = 1)

In [7]:
house_data = house_data.drop(labels = ['auxHeat2', 'auxHeat3', 'compHeat1', 'compCool2', 'compHeat2'], axis = 1)

In [8]:
house_data = house_data.drop(labels = ['HumidityExpectedLow', 'HumidityExpectedHigh'], axis = 1)

In [9]:
house_data.drop(labels = ['Thermostat_Motion'], axis = 1, inplace = True)

In [10]:
house_data.HvacMode.value_counts()

heat    62492
cool    23577
off     13415
auto     2205
Name: HvacMode, dtype: int64

In [11]:
house_data.shape

(104832, 14)

In [12]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,auxHeat1,compCool1,fan,Thermostat_Temperature,T_out,RH_out
0,2019-01-01 00:00:00,heat,Hold,Sleep,72.0,72.0,72.0,48.0,0.0,0.0,0.0,72.0,41.0,95.0
1,2019-01-01 00:05:00,heat,Hold,Sleep,72.0,72.0,72.0,48.0,0.0,0.0,255.0,72.0,41.0,95.0
2,2019-01-01 00:10:00,heat,Hold,Sleep,72.0,72.0,72.0,48.0,90.0,0.0,285.0,72.0,41.0,95.0
3,2019-01-01 00:15:00,heat,Hold,Sleep,71.0,72.0,72.0,48.0,300.0,0.0,300.0,71.0,41.0,95.0
4,2019-01-01 00:20:00,heat,Hold,Sleep,71.0,72.0,72.0,48.0,300.0,0.0,300.0,71.0,41.0,95.0

In [13]:
house_data.isnull().sum()

DateTime                      0
HvacMode                   3143
Event                     69683
Schedule                   3143
T_ctrl                     3143
T_stp_cool                 3143
T_stp_heat                 3143
Humidity                   3143
auxHeat1                   3105
compCool1                  3105
fan                        3105
Thermostat_Temperature     3001
T_out                      1152
RH_out                     1152
dtype: int64

### Drop All Rows with NaN Values

In [14]:
null_list = house_data[house_data['auxHeat1'].isnull()].index.tolist()

In [15]:
house_data = house_data.drop(null_list)

In [16]:
house_data.isnull().sum()

DateTime                      0
HvacMode                     38
Event                     66578
Schedule                     38
T_ctrl                       38
T_stp_cool                   38
T_stp_heat                   38
Humidity                     38
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       16
T_out                      1130
RH_out                     1130
dtype: int64

In [17]:
null_list = house_data[house_data['HvacMode'].isnull()].index.tolist()

In [18]:
house_data = house_data.drop(null_list)

In [19]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     66540
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       10
T_out                      1128
RH_out                     1128
dtype: int64

### Drop All Rows with Missing T_out Values

In [20]:
null_list = house_data[house_data['T_out'].isnull()].index.tolist()

In [21]:
house_data = house_data.drop(null_list)

In [22]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     66357
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature       10
T_out                         0
RH_out                        0
dtype: int64

In [23]:
null_list = house_data[house_data['Thermostat_Temperature'].isnull()].index.tolist()

In [24]:
house_data = house_data.drop(null_list)

In [25]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     66350
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                         0
RH_out                        0
dtype: int64

### Rename Null Values in 'Event' to - None

In [26]:
house_data["Event"].fillna("None", inplace = True)

In [27]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_cool                0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
compCool1                 0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### Drop All Rows Where HVAC Mode is 'Cool' & 'Auto' (Summer Months)

In [28]:
cool_list = house_data[house_data['HvacMode'] == 'cool'].index.tolist()

In [29]:
house_data.shape

(100551, 14)

In [30]:
len(cool_list)

23558

In [31]:
house_data = house_data.drop(cool_list)

In [32]:
auto_list = house_data[house_data['HvacMode'] == 'auto'].index.tolist()

In [33]:
house_data = house_data.drop(auto_list)

In [34]:
house_data.shape

(74862, 14)

In [35]:
off_list = house_data[house_data['HvacMode'] == 'off'].index.tolist()

In [36]:
house_data = house_data.drop(off_list)

In [37]:
house_data.shape

(61462, 14)

### Drop Cooling Source Column

In [38]:
house_data = house_data.drop(labels = ['compCool1', 'T_stp_cool'], axis = 1)

In [39]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

In [40]:
null_list = house_data[house_data['T_stp_heat'].isnull()].index.tolist()

In [41]:
house_data = house_data.drop(null_list)

In [42]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### DateTime Manipulation

In [43]:
house_data.DateTime.dtype

dtype('O')

In [44]:
house_data['DateTime'] = pd.to_datetime(house_data['DateTime'])

In [45]:
house_data.DateTime

0        2019-01-01 00:00:00
1        2019-01-01 00:05:00
2        2019-01-01 00:10:00
3        2019-01-01 00:15:00
4        2019-01-01 00:20:00
                 ...
104827   2019-12-31 23:35:00
104828   2019-12-31 23:40:00
104829   2019-12-31 23:45:00
104830   2019-12-31 23:50:00
104831   2019-12-31 23:55:00
Name: DateTime, Length: 61462, dtype: datetime64[ns]

In [46]:
house_data['Month'] = pd.DatetimeIndex(house_data['DateTime']).month

In [47]:
weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [48]:
house_data['DayOfWeek'] = pd.DatetimeIndex(house_data['DateTime']).dayofweek

In [49]:
house_data['HourofDay'] = pd.DatetimeIndex(house_data['DateTime']).hour

In [50]:
house_data['Day'] = pd.DatetimeIndex(house_data['DateTime']).day

In [51]:
house_data.columns

Index(['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat',
       'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out',
       'RH_out', 'Month', 'DayOfWeek', 'HourofDay', 'Day'],
      dtype='object')

In [52]:
cols = house_data.columns.tolist()
print(cols)

['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'Month', 'DayOfWeek', 'HourofDay', 'Day']

In [53]:
cols = cols[-4:] + cols[:-4]
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'Day', 'DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [54]:
house_data = house_data[cols]

In [55]:
house_data.head()

,Month,DayOfWeek,HourofDay,Day,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,1,2019-01-01 00:00:00,heat,Hold,Sleep,72.0,72.0,48.0,0.0,0.0,72.0,41.0,95.0
1,1,1,0,1,2019-01-01 00:05:00,heat,Hold,Sleep,72.0,72.0,48.0,0.0,255.0,72.0,41.0,95.0
2,1,1,0,1,2019-01-01 00:10:00,heat,Hold,Sleep,72.0,72.0,48.0,90.0,285.0,72.0,41.0,95.0
3,1,1,0,1,2019-01-01 00:15:00,heat,Hold,Sleep,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0
4,1,1,0,1,2019-01-01 00:20:00,heat,Hold,Sleep,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0

In [56]:
house_data.drop(labels = ['DateTime'], axis = 1, inplace = True)

In [57]:
house_data.head()

,Month,DayOfWeek,HourofDay,Day,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,1,heat,Hold,Sleep,72.0,72.0,48.0,0.0,0.0,72.0,41.0,95.0
1,1,1,0,1,heat,Hold,Sleep,72.0,72.0,48.0,0.0,255.0,72.0,41.0,95.0
2,1,1,0,1,heat,Hold,Sleep,72.0,72.0,48.0,90.0,285.0,72.0,41.0,95.0
3,1,1,0,1,heat,Hold,Sleep,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0
4,1,1,0,1,heat,Hold,Sleep,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0

#### Analyzing the Categorical Variables

In [58]:
house_data.head()

,Month,DayOfWeek,HourofDay,Day,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,1,heat,Hold,Sleep,72.0,72.0,48.0,0.0,0.0,72.0,41.0,95.0
1,1,1,0,1,heat,Hold,Sleep,72.0,72.0,48.0,0.0,255.0,72.0,41.0,95.0
2,1,1,0,1,heat,Hold,Sleep,72.0,72.0,48.0,90.0,285.0,72.0,41.0,95.0
3,1,1,0,1,heat,Hold,Sleep,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0
4,1,1,0,1,heat,Hold,Sleep,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0

In [59]:
house_data.columns

Index(['Month', 'DayOfWeek', 'HourofDay', 'Day', 'HvacMode', 'Event',
       'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan',
       'Thermostat_Temperature', 'T_out', 'RH_out'],
      dtype='object')

In [60]:
house_data.drop(labels = ['HvacMode', 'Event', 'Schedule'], axis = 1, inplace = True)

#### Feature Engineering for Cyclical Features (HourofDay, Month & DayofWeek)

In [61]:
house_data.Month.unique()

array([ 1,  2,  3,  4,  5,  6, 10, 11, 12], dtype=int64)

In [62]:
house_data.HourofDay.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [63]:
house_data.DayOfWeek.unique()

array([1, 2, 3, 4, 5, 6, 0], dtype=int64)

In [64]:
house_data['hour_sin'] = np.sin(house_data.HourofDay * (2. * np.pi / 24))
house_data['hour_cos'] = np.cos(house_data.HourofDay * (2. * np.pi / 24))
house_data['month_sin'] = np.sin((house_data.Month - 1) * (2. * np.pi / 12))
house_data['month_cos'] = np.cos((house_data.Month - 1) * (2. * np.pi / 12))
house_data['day_sin'] = np.sin(house_data.DayOfWeek) * (2. * np.pi / 7)
house_data['day_cos'] = np.cos(house_data.DayOfWeek) * (2. * np.pi / 7)

In [65]:
cols = house_data.columns.tolist()
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'Day', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos']

In [66]:
cols = cols[-6:] + cols[:-6]
print(cols)

['hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'Month', 'DayOfWeek', 'HourofDay', 'Day', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [67]:
house_data = house_data[cols]

In [68]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,Day,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,72.0,72.0,48.0,0.0,0.0,72.0,41.0,95.0
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,72.0,72.0,48.0,0.0,255.0,72.0,41.0,95.0
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,72.0,72.0,48.0,90.0,285.0,72.0,41.0,95.0
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,71.0,72.0,48.0,300.0,300.0,71.0,41.0,95.0

### Data Pre-Processing

In [69]:
categorical_vars = ['HvacMode', 'Event', 'Schedule']
numerical_vars = ['T_ctrl', 'T_stp_heat', 'Humidity', 'Thermostat_Temperature', 'T_out', 'RH_out']

#### Standardizing the Numerical Features

In [70]:
sc = StandardScaler()
house_data[numerical_vars] = sc.fit_transform(house_data[numerical_vars])

In [71]:
#sc = load(open('scaler.pkl', 'rb'))
#house_data[numerical_vars] = sc.transform(house_data[numerical_vars])

In [72]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,Day,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,1.177675,1.14455,-0.270977,0.0,0.0,1.177675,0.322013,1.760593
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,1.177675,1.14455,-0.270977,0.0,255.0,1.177675,0.322013,1.760593
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,1.177675,1.14455,-0.270977,90.0,285.0,1.177675,0.322013,1.760593
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,0.398793,1.14455,-0.270977,300.0,300.0,0.398793,0.322013,1.760593
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,0.398793,1.14455,-0.270977,300.0,300.0,0.398793,0.322013,1.760593

In [73]:
house_data.reset_index(inplace = True)

#### Ordinal Encoding the 'fan' Feature & 'auxHeat1' Feature

In [74]:
y_auxHeat = house_data['auxHeat1'].to_numpy()
y_fan = house_data['fan'].to_numpy()

In [75]:
oe = OrdinalEncoder()
y_auxHeat = oe.fit_transform(y_auxHeat.reshape(-1, 1))
y_fan = oe.fit_transform(y_fan.reshape(-1, 1))

In [76]:
y_auxHeat = y_auxHeat.reshape(y_auxHeat.shape[0], )
y_fan = y_fan.reshape(y_fan.shape[0], )

In [77]:
y_auxHeat = y_auxHeat.astype(int)
y_auxHeat = y_auxHeat.astype(str)

y_fan = y_fan.astype(int)
y_fan = y_fan.astype(str)

In [78]:
house_data['auxHeat1'] = y_auxHeat
house_data['fan'] = y_fan

In [79]:
house_data.head()

,index,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,Day,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,1.177675,1.14455,-0.270977,0,0,1.177675,0.322013,1.760593
1,1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,1.177675,1.14455,-0.270977,0,17,1.177675,0.322013,1.760593
2,2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,1.177675,1.14455,-0.270977,6,19,1.177675,0.322013,1.760593
3,3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,0.398793,1.14455,-0.270977,20,20,0.398793,0.322013,1.760593
4,4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1,0.398793,1.14455,-0.270977,20,20,0.398793,0.322013,1.760593

In [80]:
house_data.auxHeat1.unique()

array(['0', '6', '20', '9', '5', '19', '10', '8', '15', '18', '11', '2',
       '16', '4', '14', '13', '17', '7', '1', '3', '12'], dtype=object)

In [81]:
house_data.fan.unique()

array(['0', '17', '19', '20', '12', '13', '5', '2', '8', '18', '1', '14',
       '7', '15', '10', '3', '11', '16', '4', '6', '9'], dtype=object)

In [82]:
house_data.shape

(61462, 19)

In [83]:
house_data.to_csv("../preprocessed_data/std_test_data_6150c70f76a3f4b0c6e303de7da9422aceb37345.csv", index = False)