In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from pickle import load

In [2]:
house_data = pd.read_csv("../raw_data/7825967a44e4a03da711c91fd27039101ad8d52f.csv")

In [3]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,HumidityExpectedLow,HumidityExpectedHigh,...,Remote_Sensor_7_Temperature,Remote_Sensor_7_Motion,Remote_Sensor_8_Temperature,Remote_Sensor_8_Motion,Remote_Sensor_9_Temperature,Remote_Sensor_9_Motion,Remote_Sensor_10_Temperature,Remote_Sensor_10_Motion,T_out,RH_out
0,2019-01-01 00:00:00,heat,NaN,Sleep,74.0,75.0,67.0,35.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
1,2019-01-01 00:05:00,heat,NaN,Sleep,74.0,75.0,67.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
2,2019-01-01 00:10:00,heat,NaN,Sleep,74.0,75.0,67.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
3,2019-01-01 00:15:00,heat,NaN,Sleep,74.0,75.0,67.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0
4,2019-01-01 00:20:00,heat,NaN,Sleep,74.0,75.0,67.0,37.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,95.0

In [4]:
house_data.dtypes

DateTime                         object
HvacMode                         object
Event                            object
Schedule                         object
T_ctrl                          float64
T_stp_cool                      float64
T_stp_heat                      float64
Humidity                        float64
HumidityExpectedLow             float64
HumidityExpectedHigh            float64
auxHeat1                        float64
auxHeat2                        float64
auxHeat3                        float64
compCool1                       float64
compCool2                       float64
compHeat1                       float64
compHeat2                       float64
fan                             float64
Thermostat_Temperature          float64
Thermostat_Motion               float64
Remote_Sensor_1_Temperature     float64
Remote_Sensor_1_Motion          float64
Remote_Sensor_2_Temperature     float64
Remote_Sensor_2_Motion          float64
Remote_Sensor_3_Temperature     float64
Remote_Sensor_3_Motion          float64
Remote_Sensor_4_Temperature     float64
Remote_Sensor_4_Motion          float64
Remote_Sensor_5_Temperature     float64
Remote_Sensor_5_Motion          float64
Remote_Sensor_6_Temperature     float64
Remote_Sensor_6_Motion          float64
Remote_Sensor_7_Temperature     float64
Remote_Sensor_7_Motion          float64
Remote_Sensor_8_Temperature     float64
Remote_Sensor_8_Motion          float64
Remote_Sensor_9_Temperature     float64
Remote_Sensor_9_Motion          float64
Remote_Sensor_10_Temperature    float64
Remote_Sensor_10_Motion         float64
T_out                           float64
RH_out                          float64
dtype: object

In [5]:
house_data.shape

(104544, 42)

In [6]:
house_data.isnull().sum()

DateTime                             0
HvacMode                          2626
Event                            90509
Schedule                          2626
T_ctrl                            2626
T_stp_cool                        2626
T_stp_heat                        2626
Humidity                          2626
HumidityExpectedLow               2626
HumidityExpectedHigh              2626
auxHeat1                          2623
auxHeat2                          2623
auxHeat3                          2623
compCool1                         2623
compCool2                         2623
compHeat1                         2623
compHeat2                         2623
fan                               2623
Thermostat_Temperature            2614
Thermostat_Motion               104544
Remote_Sensor_1_Temperature     104544
Remote_Sensor_1_Motion          104544
Remote_Sensor_2_Temperature     104544
Remote_Sensor_2_Motion          104544
Remote_Sensor_3_Temperature     104544
Remote_Sensor_3_Motion          104544
Remote_Sensor_4_Temperature     104544
Remote_Sensor_4_Motion          104544
Remote_Sensor_5_Temperature     104544
Remote_Sensor_5_Motion          104544
Remote_Sensor_6_Temperature     104544
Remote_Sensor_6_Motion          104544
Remote_Sensor_7_Temperature     104544
Remote_Sensor_7_Motion          104544
Remote_Sensor_8_Temperature     104544
Remote_Sensor_8_Motion          104544
Remote_Sensor_9_Temperature     104544
Remote_Sensor_9_Motion          104544
Remote_Sensor_10_Temperature    104544
Remote_Sensor_10_Motion         104544
T_out                             1152
RH_out                            1152
dtype: int64

### Drop All Columns with No Data

In [7]:
house_data = house_data.drop(labels = ['Remote_Sensor_1_Temperature', 'Remote_Sensor_1_Motion', 'Remote_Sensor_2_Temperature', 'Remote_Sensor_2_Motion', 'Remote_Sensor_3_Temperature', 'Remote_Sensor_3_Motion', 'Remote_Sensor_4_Temperature', 'Remote_Sensor_4_Motion', 'Remote_Sensor_5_Temperature', 'Remote_Sensor_5_Motion', 'Remote_Sensor_6_Temperature', 'Remote_Sensor_6_Motion', 'Remote_Sensor_7_Temperature', 'Remote_Sensor_7_Motion', 'Remote_Sensor_8_Temperature', 'Remote_Sensor_8_Motion', 'Remote_Sensor_9_Temperature', 'Remote_Sensor_9_Motion', 'Remote_Sensor_10_Temperature', 'Remote_Sensor_10_Motion'], axis = 1)

In [8]:
house_data = house_data.drop(labels = ['auxHeat2', 'auxHeat3', 'compHeat1', 'compCool2', 'compHeat2'], axis = 1)

In [9]:
house_data = house_data.drop(labels = ['HumidityExpectedLow', 'HumidityExpectedHigh'], axis = 1)

In [10]:
house_data.drop(labels = ['Thermostat_Motion'], axis = 1, inplace = True)

In [11]:
house_data.HvacMode.value_counts()

heat    60676
cool    25485
off     15757
Name: HvacMode, dtype: int64

In [12]:
house_data.shape

(104544, 14)

In [13]:
house_data.head()

,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_cool,T_stp_heat,Humidity,auxHeat1,compCool1,fan,Thermostat_Temperature,T_out,RH_out
0,2019-01-01 00:00:00,heat,NaN,Sleep,74.0,75.0,67.0,35.0,0.0,0.0,0.0,74.0,41.0,95.0
1,2019-01-01 00:05:00,heat,NaN,Sleep,74.0,75.0,67.0,36.0,0.0,0.0,0.0,74.0,41.0,95.0
2,2019-01-01 00:10:00,heat,NaN,Sleep,74.0,75.0,67.0,36.0,0.0,0.0,0.0,74.0,41.0,95.0
3,2019-01-01 00:15:00,heat,NaN,Sleep,74.0,75.0,67.0,36.0,0.0,0.0,60.0,74.0,41.0,95.0
4,2019-01-01 00:20:00,heat,NaN,Sleep,74.0,75.0,67.0,37.0,0.0,0.0,300.0,74.0,41.0,95.0

In [14]:
house_data.isnull().sum()

DateTime                      0
HvacMode                   2626
Event                     90509
Schedule                   2626
T_ctrl                     2626
T_stp_cool                 2626
T_stp_heat                 2626
Humidity                   2626
auxHeat1                   2623
compCool1                  2623
fan                        2623
Thermostat_Temperature     2614
T_out                      1152
RH_out                     1152
dtype: int64

### Drop All Rows with NaN Values

In [15]:
null_list = house_data[house_data['auxHeat1'].isnull()].index.tolist()

In [16]:
house_data = house_data.drop(null_list)

In [17]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      9
Event                     87886
Schedule                      9
T_ctrl                        9
T_stp_cool                    9
T_stp_heat                    9
Humidity                      9
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                      1138
RH_out                     1138
dtype: int64

In [18]:
null_list = house_data[house_data['HvacMode'].isnull()].index.tolist()

In [19]:
house_data = house_data.drop(null_list)

In [20]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     87877
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                      1138
RH_out                     1138
dtype: int64

### Drop All Rows with Missing T_out Values

In [21]:
null_list = house_data[house_data['T_out'].isnull()].index.tolist()

In [22]:
house_data = house_data.drop(null_list)

In [23]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     86897
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                         0
RH_out                        0
dtype: int64

In [24]:
null_list = house_data[house_data['Thermostat_Temperature'].isnull()].index.tolist()

In [25]:
house_data = house_data.drop(null_list)

In [26]:
house_data.isnull().sum()

DateTime                      0
HvacMode                      0
Event                     86897
Schedule                      0
T_ctrl                        0
T_stp_cool                    0
T_stp_heat                    0
Humidity                      0
auxHeat1                      0
compCool1                     0
fan                           0
Thermostat_Temperature        0
T_out                         0
RH_out                        0
dtype: int64

### Rename Null Values in 'Event' to - None

In [27]:
house_data["Event"].fillna("None", inplace = True)

In [28]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_cool                0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
compCool1                 0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

In [29]:
null_list = house_data[house_data['T_stp_heat'].isnull()].index.tolist()

In [30]:
house_data = house_data.drop(null_list)

In [31]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_cool                0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
compCool1                 0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### Drop All Rows Where HVAC Mode is 'Cool' & 'Auto' (Summer Months)

In [32]:
cool_list = house_data[house_data['HvacMode'] == 'cool'].index.tolist()

In [33]:
house_data.shape

(100774, 14)

In [34]:
len(cool_list)

25449

In [35]:
house_data = house_data.drop(cool_list)

In [36]:
auto_list = house_data[house_data['HvacMode'] == 'auto'].index.tolist()

In [37]:
house_data = house_data.drop(auto_list)

In [38]:
house_data.shape

(75325, 14)

In [39]:
off_list = house_data[house_data['HvacMode'] == 'off'].index.tolist()

In [40]:
house_data = house_data.drop(off_list)

In [41]:
house_data.shape

(59604, 14)

### Drop Cooling Source Column

In [42]:
house_data = house_data.drop(labels = ['compCool1', 'T_stp_cool'], axis = 1)

In [43]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

In [44]:
null_list = house_data[house_data['T_stp_heat'].isnull()].index.tolist()

In [45]:
house_data = house_data.drop(null_list)

In [46]:
house_data.isnull().sum()

DateTime                  0
HvacMode                  0
Event                     0
Schedule                  0
T_ctrl                    0
T_stp_heat                0
Humidity                  0
auxHeat1                  0
fan                       0
Thermostat_Temperature    0
T_out                     0
RH_out                    0
dtype: int64

### DateTime Manipulation

In [47]:
house_data.DateTime.dtype

dtype('O')

In [48]:
house_data['DateTime'] = pd.to_datetime(house_data['DateTime'])

In [49]:
house_data.DateTime

0        2019-01-01 00:00:00
1        2019-01-01 00:05:00
2        2019-01-01 00:10:00
3        2019-01-01 00:15:00
4        2019-01-01 00:20:00
                 ...
104539   2019-12-31 23:35:00
104540   2019-12-31 23:40:00
104541   2019-12-31 23:45:00
104542   2019-12-31 23:50:00
104543   2019-12-31 23:55:00
Name: DateTime, Length: 59604, dtype: datetime64[ns]

In [50]:
house_data['Month'] = pd.DatetimeIndex(house_data['DateTime']).month

In [51]:
weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [52]:
house_data['DayOfWeek'] = pd.DatetimeIndex(house_data['DateTime']).dayofweek

In [53]:
house_data['HourofDay'] = pd.DatetimeIndex(house_data['DateTime']).hour

In [54]:
house_data.columns

Index(['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat',
       'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out',
       'RH_out', 'Month', 'DayOfWeek', 'HourofDay'],
      dtype='object')

In [55]:
cols = house_data.columns.tolist()
print(cols)

['DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'Month', 'DayOfWeek', 'HourofDay']

In [56]:
cols = cols[-3:] + cols[:-3]
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'DateTime', 'HvacMode', 'Event', 'Schedule', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [57]:
house_data = house_data[cols]

In [58]:
house_data.head()

,Month,DayOfWeek,HourofDay,DateTime,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,2019-01-01 00:00:00,heat,None,Sleep,74.0,67.0,35.0,0.0,0.0,74.0,41.0,95.0
1,1,1,0,2019-01-01 00:05:00,heat,None,Sleep,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
2,1,1,0,2019-01-01 00:10:00,heat,None,Sleep,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
3,1,1,0,2019-01-01 00:15:00,heat,None,Sleep,74.0,67.0,36.0,0.0,60.0,74.0,41.0,95.0
4,1,1,0,2019-01-01 00:20:00,heat,None,Sleep,74.0,67.0,37.0,0.0,300.0,74.0,41.0,95.0

In [59]:
house_data.drop(labels = ['DateTime'], axis = 1, inplace = True)

In [60]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,heat,None,Sleep,74.0,67.0,35.0,0.0,0.0,74.0,41.0,95.0
1,1,1,0,heat,None,Sleep,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
2,1,1,0,heat,None,Sleep,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
3,1,1,0,heat,None,Sleep,74.0,67.0,36.0,0.0,60.0,74.0,41.0,95.0
4,1,1,0,heat,None,Sleep,74.0,67.0,37.0,0.0,300.0,74.0,41.0,95.0

### Generating New Column Based on auxHeat1 Values

In [ ]:
def transform_row(row):
    if row['auxHeat1'] == 0.0:
        return '0'
    else:
        return '1'

In [ ]:
house_data.apply(lambda row : transform_row(row), axis = 1)

In [ ]:
house_data['auxHeat1_label'] = house_data.apply(lambda row : transform_row(row), axis = 1)

In [ ]:
house_data.head()

#### Analyzing the Categorical Variables

In [61]:
house_data.head()

,Month,DayOfWeek,HourofDay,HvacMode,Event,Schedule,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,1,1,0,heat,None,Sleep,74.0,67.0,35.0,0.0,0.0,74.0,41.0,95.0
1,1,1,0,heat,None,Sleep,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
2,1,1,0,heat,None,Sleep,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
3,1,1,0,heat,None,Sleep,74.0,67.0,36.0,0.0,60.0,74.0,41.0,95.0
4,1,1,0,heat,None,Sleep,74.0,67.0,37.0,0.0,300.0,74.0,41.0,95.0

In [62]:
house_data.columns

Index(['Month', 'DayOfWeek', 'HourofDay', 'HvacMode', 'Event', 'Schedule',
       'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan',
       'Thermostat_Temperature', 'T_out', 'RH_out'],
      dtype='object')

In [63]:
house_data.drop(labels = ['HvacMode', 'Event', 'Schedule'], axis = 1, inplace = True)

#### Feature Engineering for Cyclical Features (HourofDay, Month & DayofWeek)

In [64]:
house_data.Month.unique()

array([ 1,  2,  3,  4,  5, 10, 11, 12], dtype=int64)

In [65]:
house_data.HourofDay.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [66]:
house_data.DayOfWeek.unique()

array([1, 2, 3, 4, 5, 6, 0], dtype=int64)

In [67]:
house_data['hour_sin'] = np.sin(house_data.HourofDay * (2. * np.pi / 24))
house_data['hour_cos'] = np.cos(house_data.HourofDay * (2. * np.pi / 24))
house_data['month_sin'] = np.sin((house_data.Month - 1) * (2. * np.pi / 12))
house_data['month_cos'] = np.cos((house_data.Month - 1) * (2. * np.pi / 12))
house_data['day_sin'] = np.sin(house_data.DayOfWeek) * (2. * np.pi / 7)
house_data['day_cos'] = np.cos(house_data.DayOfWeek) * (2. * np.pi / 7)

In [68]:
cols = house_data.columns.tolist()
print(cols)

['Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out', 'hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos']

In [69]:
cols = cols[-6:] + cols[:-6]
print(cols)

['hour_sin', 'hour_cos', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'Month', 'DayOfWeek', 'HourofDay', 'T_ctrl', 'T_stp_heat', 'Humidity', 'auxHeat1', 'fan', 'Thermostat_Temperature', 'T_out', 'RH_out']

In [70]:
house_data = house_data[cols]

In [71]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,74.0,67.0,35.0,0.0,0.0,74.0,41.0,95.0
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,74.0,67.0,36.0,0.0,0.0,74.0,41.0,95.0
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,74.0,67.0,36.0,0.0,60.0,74.0,41.0,95.0
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,74.0,67.0,37.0,0.0,300.0,74.0,41.0,95.0

### Data Pre-Processing

In [72]:
categorical_vars = ['HvacMode', 'Event', 'Schedule']
numerical_vars = ['T_ctrl', 'T_stp_heat', 'Humidity', 'Thermostat_Temperature', 'T_out', 'RH_out']

#### Standardizing the Numerical Features

In [73]:
#sc = StandardScaler()
#house_data[numerical_vars] = sc.fit_transform(house_data[numerical_vars])

In [74]:
sc = load(open('scaler.pkl', 'rb'))
house_data[numerical_vars] = sc.transform(house_data[numerical_vars])

In [75]:
house_data.head()

,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,-0.027416,0.0,0.0,1.81318,0.009112,1.808865
1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.075021,0.0,0.0,1.81318,0.009112,1.808865
2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.075021,0.0,0.0,1.81318,0.009112,1.808865
3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.075021,0.0,60.0,1.81318,0.009112,1.808865
4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.177458,0.0,300.0,1.81318,0.009112,1.808865

In [76]:
house_data.reset_index(inplace = True)

#### Ordinal Encoding the 'fan' Feature & 'auxHeat1' Feature

In [77]:
y_auxHeat = house_data['auxHeat1'].to_numpy()
y_fan = house_data['fan'].to_numpy()

In [78]:
oe = OrdinalEncoder()
y_auxHeat = oe.fit_transform(y_auxHeat.reshape(-1, 1))
y_fan = oe.fit_transform(y_fan.reshape(-1, 1))

In [79]:
y_auxHeat = y_auxHeat.reshape(y_auxHeat.shape[0], )
y_fan = y_fan.reshape(y_fan.shape[0], )

In [80]:
y_auxHeat = y_auxHeat.astype(int)
y_auxHeat = y_auxHeat.astype(str)

y_fan = y_fan.astype(int)
y_fan = y_fan.astype(str)

In [81]:
house_data['auxHeat1'] = y_auxHeat
house_data['fan'] = y_fan

In [82]:
house_data.head()

,index,hour_sin,hour_cos,month_sin,month_cos,day_sin,day_cos,Month,DayOfWeek,HourofDay,T_ctrl,T_stp_heat,Humidity,auxHeat1,fan,Thermostat_Temperature,T_out,RH_out
0,0,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,-0.027416,0,0,1.81318,0.009112,1.808865
1,1,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.075021,0,0,1.81318,0.009112,1.808865
2,2,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.075021,0,0,1.81318,0.009112,1.808865
3,3,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.075021,0,4,1.81318,0.009112,1.808865
4,4,0.0,1.0,0.0,1.0,0.755303,0.484974,1,1,0,1.786445,-0.072345,0.177458,0,20,1.81318,0.009112,1.808865

In [83]:
house_data.auxHeat1.unique()

array(['0', '12', '18', '2', '20', '3', '5', '10', '17', '15', '9', '7',
       '14', '8', '1', '6', '16', '11', '13', '4', '19'], dtype=object)

In [84]:
house_data.fan.unique()

array(['0', '4', '20', '6', '15', '8', '14', '18', '9', '16', '3', '5',
       '1', '19', '7', '2', '13', '11', '17', '10', '12'], dtype=object)

In [85]:
house_data.shape

(59604, 18)

In [86]:
house_data.to_csv("../preprocessed_data/std_test_data_7825967a44e4a03da711c91fd27039101ad8d52f.csv", index = False)